.item_container
	width 210px
	margin 0 auto
	.item
		width 100%
		line-height 45rpx
		background green
		text-align center
		font-weight bold
		font-size 28px
		color #ffffff
		&:nth-child(2n+2)
			background #333333
			color #ffffff